<header>
    <div class="header-container">
        <div class="menu">
            <div class="top">
                <a class="logo" href="/"><img class="header-logo" src="/imgs/logo.png" alt="" />
                </a>
                <ul>

                    {{#if this.user}}
                    <li><a href="#">ĐƠN HÀNG</a></li>
                    <li><a href="#">THÔNG BÁO</a></li>
                    {{#is this.user.role "seller"}}
                    <li><a href="/shop-infor">KÊNH NGƯỜI BÁN</a></li>
                    {{/is}}
                    {{#is this.user.role "customer"}}
                    <li><a href="/become-seller">TRỞ THÀNH NGƯỜI BÁN</a></li>
                    {{/is}}
                    {{/if}}
                </ul>
                {{#if this.user}}
                <div class="dropdown">
                    {{#if this.user.name}}
                    <a class="sign-in" href="#"><i class="far fa-user"></i>{{this.user.name}}</a>
                    {{else if this.user.username}}
                    <a class="sign-in" href="#"><i class="far fa-user"></i>{{this.user.username}}</a>
                    {{else}}
                     <a class="sign-in" href="#"><i class="far fa-user"></i>{{this.user.email}}</a>
                    {{/if}}
                    <div class="dropdown-content">
                        <a href="/customer/{{this.user.email}}">Thông tin</a>

                        <a href="/login" id="logout">Đăng xuất</a>


                    </div>
                </div>
                {{else}}
                <a class="sign-in" href="/login"><i class="far fa-user"></i>Đăng nhập</a>
                {{/if}}
            </div>

            <div class="bottom">
                <div class="dropdown">
                    <span class="dropbtn">DANH MỤC SẢN PHẨM <i class="fas fa-angle-down"></i></span>


                    <div class="dropdown-content">
                        <a href="/category">Tất cả</a>
                        {{#each this.category}}
                        <a href="/category/{{this}}">{{this}}</a>
                        {{/each}}
                    </div>

                </div>

                <div class="search">
                    <img class="search-logo" src="/imgs/search_logo.png" for="search" />
                    <form class="form--search" action="/product/search">
                        <input id="text-search" type="text" name="name" placeholder="Tìm kiếm trên Mongoloid..." />
                    </form>

                </div>
                {{#if this.user}}
                <div>
                    <a href="/cart"><img class="cart" src="/imgs/cart.png" /></a>

                </div>
                {{/if}}
            </div>
        </div>
    </div>
</header>