
{{#section 'css'}}


{{/section}}

{{#section 'js'}}
  <script src="/admin-page.js"></script>
{{/section}}

<div class="main-body-container">
  <form>
    <!-- DANH SÁCH TÀI KHOẢN -->
    <div class="danhsachtaikhoan">
      <p class="title-1">DANH SÁCH TÀI KHOẢN</p>
      <h4><a href="#customer">Người dùng</a></h4>
      <h4><a href="#shop">Shop</a></h4>

      <!-- Customer -->
      <div id="customer">
        <br />
        <h3 id="title3">Người dùng</h3>
        <div class="search">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input
            id="myInput"
            type="text"
            placeholder="Tìm kiếm người dùng..."
          />
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>username</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody id="myTable">
            {{#each accounts}}
              <tr>
                <td><a href="#confirm"class = "open-Confirm" data-toggle="modal" data-title="Xóa tài khoản: " data-content = "{{this.username}}" data-type = "delAcc">{{this.username}}</a></td>
                <td>{{this.email}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <!-- Shop -->
      <div id="shop">
        <br />
        <h3 id="title3">Shop</h3>
        <div class="search">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input
            id="myInput1"
            type="text"
            placeholder="Tìm kiếm shop..."
          />
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Shop name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody id="myTable1">
            {{#each shops}}
              <tr>
                <td><a href="#confirm"class = "open-Confirm" data-toggle="modal" data-title="Xóa cửa hàng: " data-content = "{{this.name}}" data-type = "delShop">{{this.name}}</a></td>
                <td>{{email}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>




<div class="modal fade" id="confirm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Xác nhận</h3>
      </div>
      <div class="modal-body">
        <p id="content"> ...</p>
      </div>
      <div class="modal-footer">
          
          <form action="/admin/deleteAccount" method="POST" id = "form">
              <input type="hidden"  id = "del" name="name" value="">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button class="btn btn-primary" type="submit">Xác nhận</a>
          </form>
        </div></div></div>
</div>
<script>
$(document).on("click", ".open-Confirm", function () {
  var title = $(this).data('title');
     var content = $(this).data('content');
     $(".modal-body #content").text( title + content );
     var type = $(this).data('type');
     if(type === "delShop")
      $(".modal-footer #form").attr('action', "/admin/deleteShop");
     $(".modal-footer #del").attr('value', content);
     // As pointed out in comments, 
     // it is unnecessary to have to manually call the modal.
     // $('#addBookDialog').modal('show');
});
</script>
