<body>
  <!-- HEADER -->
  {{>header}}

  <!-- MAIN -->
  <div class="body-container ">
    <div class="container-fluid row p-0 m-0">
      <div class="col-9 p-0 ">
        <div class=" p-5 font-weight-bold list-side ">
          <!-- ĐẦU MỤC -->
          <div class="row mb-3 align-center bg-white text-dark p-2 ">
            <div class="col muc-san-pham">SẢN PHẨM</div>
            <div class="col muc-san-pham">&nbsp</div>
            <div class="col muc-san-pham">SỐ LƯỢNG</div>
            <div class="col muc-san-pham">GIÁ TIỀN</div>
          </div>
          <!-- DANH SÁCH SẢN PHẨM -->
          {{#each productsInCart}}
          <div class="row mb-3 product border bg-white text-dark p-2">
            <div class="col img-product">
              <img src="{{this.images}}" alt="" class="img-thumbnail">
            </div>

            <div class="col d-flex flex-column justify-content-center text-sp ">

              <h6>{{this.name}}</h6>
              <form action="/cart/deleteItem" method="POST">
                <input type="hidden" value="{{this.slug}}" name="slug">
                <button class="btn btn-outline-primary">Xóa</button>
              </form>

            </div>
            <div class="col d-flex flex-column justify-content-center text-sp">
              <div class="btn-group soluong d-flex justify-content-center" role="group" aria-label="Basic example">
                <button type="button" class="soluong-button bg-transparent" onclick="decrease()">-</button>
                <input type="button" id="number" value="1">
                <button type="button" class="soluong-button bg-transparent" onclick="increase()">+</button>
              </div>
            </div>
            <div class="col d-flex flex-column justify-content-center newprice text-sp" id="newprice">{{this.price}}
            </div>
          </div>
          {{/each}}

        </div>
      </div>
      <div class="col-3 p-0 mt-5 checkout-side">
        <div class="row mb-1 p-3 bg-white text-dark">
          <div class="col">Tạm tính</div>
          <div class="col text-right price-cu">{{this.totalPrice}}</div>
        </div>
        <div class="row mb-1 p-3 bg-white text-dark">
          <div class="col">Mã Giảm Giá </div>
          <div class="col text-right ma-giam-gia">HELLO5</div>
        </div>
        <div class="row mb-1 p-3 bg-white text-dark">
          <div class="col thanhtien">Thành Tiền</div>
          <div class="col text-right">
            <p class=" thanhtien-price">{{this.totalPrice}}</p>
          </div>
        </div>
        <div class="row mb-1 p-0 ">
          {{#if empty}}
          <button type="button" class="checkout btn btn-sm p-2" disabled>THANH TOÁN</button>
          {{else}}
          <button type="button" class="checkout btn btn-sm p-2">THANH TOÁN</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  {{>footer}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  <script src="https://kit.fontawesome.com/cabc320003.js" crossorigin="anonymous"></script>
  <script src="../public/cart-page.js"></script>
</body>

</html>