{{#section 'js'}}
<script>
  function updateTextInput(val) {
    var a = formatStringtoNumber(val);
    document.getElementById('textInput1').innerHTML=(a); 
  }
  function formatStringtoNumber(x) {
    x = x.toString();
    var pattern = /(-?\d+)(\d{3})/;
    while (pattern.test(x))
        x = x.replace(pattern, "$1,$2");
    return x.replace(/,/g, ",");
  } 
</script>
{{/section}}


{{> header}}
<div class="body-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
      <li class="breadcrumb-item"><a class="text-dark" href="/">Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
    </ol>
  </nav>

  <div class="sidebar-and-grid">
    <div class="sidebar">
      <form method="POST" action="">
        <select name="rate" id="danhgia">
          <option value="0" selected>Đánh giá</option>
          <option value="1">1 sao</option>
          <option value="2">2 sao</option>
          <option value="3">3 sao</option>
          <option value="4">4 sao</option>
          <option value="5">5 sao</option>
        </select>
        <div class="price">
            <p>Giá</p>
            <div class="slidecontainer">
              <input type="range" value="50000" name="price" step="50000" min="50000" max="100000000" onchange="updateTextInput(this.value);">
              
              <div><span id="textInput1">50,000</span> VNĐ</div>
            </div>
        </div>
        <div class="finding">
            <button type="submit">
              <div class="finding-icon" style="float: left;">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
              <b>Tìm kiếm</b>
            </button>
        </div>
      </form>
    </div>


    <div class="grid-container">
      <div class="grid">
        <div class="grid-item1 sort btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn"><i class="fa fa-star fa-fw" aria-hidden="true"></i>Bán chạy</button>
          <button type="button" class="btn"><i class="fa fa-star fa-fw" aria-hidden="true"></i>Phổ biến</button>
          <button type="button" class="btn"><i class="fa fa-star fa-fw" aria-hidden="true"></i>Mới nhất</button>
          <button type="button" class="btn"><i class="fa fa-star fa-fw" aria-hidden="true"></i>Liên quan</button>
        </div>
        {{#if this.empty}}
        <h5 class="card-title">Không có dữ liệu!</h5>
      
        {{else}}
        {{#each this.products}}
        <div class="grid-item">
          <div class="grid-item-image">
            <a href="/product/{{this.slug}}">
              <img src="{{this.images.[0]}}" </a>
              
          </div>
          <div class="grid-item-content">
            <a href="/product/{{this.slug}}" class="tenhang">{{name}}</a>
            <div class="sub-info">
              <div class="chuabiet sub-info-flex_item">
                <span><i class="fas fa-star"></i></span>
                <span id="">72 </span>Đánh giá
              </div>
              <div class="daban sub-info-flex_item">
                <span><i class="fas fa-shopping-bag"></i></span>
                <span id="">7k1 </span>Đã bán
              </div>
            </div>
            <div class="tien">
              <div class="tien-icon">
                <span><i class="fas fa-money-bill"></i>
              </div>
              <div class="tien-giatien">
                <div class="tien-giamoi">{{format_number this.price}} VNĐ<span class="discountvalue">-20%</span></div>
                <div class="tien-giacu">{{format_number this.price}} VNĐ</div>
              </div>
              
            </div>
          </div>
        </div>
        {{/each}}
        {{/if}}
      </div>
      <nav aria-label="Page navigation example" class="mt-4">
                  <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" style="color: #7f007f;" href="#">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" style="color: #7f007f;" href="#">1</a></li>
                    <li class="page-item" ><a class="page-link" style="color: white; background-color: #7f007f;" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" style="color: #7f007f;" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" style="color: #7f007f;" href="#">&raquo;</a></li>
                  </ul>
                </nav>
    </div>

  </div>

</div>

{{> footer}}