{{#section 'css'}}


{{/section}}

{{#section 'js'}}
<script>
    function loadActive() {
        var element = document.querySelector('.carousel-item');
        element.classList.add("active");
    }
    loadActive();
</script>
<script src="/product-page.js"></script>
{{/section}}


<!-- HEADER -->
{{> header}}

<!-- BODY -->
<div class="body-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a class="text-dark" href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a class="text-dark" href="#">{{this.product.category}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{this.product.name}}</li>
        </ol>
    </nav>
    <div class="content">
        <div class="product-image">
            <div class="main-image">
                <!-- Boostrap Slide -->
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" onload="loadActive()">
                        {{#each this.product.images as |image|}}
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="{{image}}" class="d-block w-100">
                        </div>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
                <!--End Boostrap Slide -->
            </div>
        </div>
        <div class="product-info">
            <div class="mongo">Mongoloid<span class="rating-product">{{this.product.rating}}/5</span></div>
            <div class="product-name">{{this.product.name}}</div>
            <div class="product-sub-info">
                <div class="daban subinfo">
                    <div><i class="fas fa-shopping-bag space"></i></div>
                    <div id="">7k1 Đã bán</div>
                </div>
                <div class="danhgia subinfo ">
                    <div> <i class="fas fa-star space"></i></div>
                    <div id="">72 Đánh giá</div>
                </div>
            </div>
            <div class="btn-group soluong" role="group" aria-label="Basic example">
                <div>Số lượng: </div>
                <button type="button" class="soluong-button bg-transparent" onclick="decrease()">-</button>
                <input type="button" id="number" value="1">
                <button type="button" class="soluong-button bg-transparent" onclick="increase()">+</button>
            </div>
            <div class="new-price" id="newprice">{{format_number this.product.price}} VNĐ</div>
            <div class="old-price" id="oldprice">{{format_number this.product.price}} VNĐ</div>
            <div class="discountvalue1">-20%</div>
            <div class="buy-and-addcart">
                <button type="button" class="buy-now" onclick="">MUA NGAY</button>
                <form action="/cart/add" method="POST">
                    <input type="hidden" value="{{this.product.slug}}" name="id">
                    <button class="add-cart">THÊM VÀO GIỎ HÀNG</button>
                </form>

            </div>
        </div>
    </div>
    {{#with this.product.shopID}}
    <div class="detail-info">
        <h3>Thông tin cửa hàng</h3>
        <div class="description shop-info">
            <div class="shop-avatar">
                <div class="shop-ava">
                    <img class="ava" src="/imgs/product2-2.jpg" alt="" />
                </div>
                <div class="shop-name">
                    <a href="/shop/{{_id}}">{{name}}</a>
                    <div>Số điện thoại: {{phoneContact}}</div>
                </div>
            </div>
            <div class="rating ">
                <div class="rating-value">{{rating}}<span>/5</span></div>
                <div class="rating-star"><i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <div class="rating-number"> (<span id="">65</span> lượt đánh giá)</div>
            </div>
        </div>
    </div>
    {{/with}}
    <div class="detail-info">
        <h3>Mô tả sản phẩm</h3>
        <div class="description">
            {{this.product.description}}
        </div>
    </div>

    <div class="detail-info">
        <h3>Sản phẩm tương tự</h3>

        <div class="similar-product">

            <div class="grid-item">
                <div class="grid-item-image">
                    <img src="./imgs/product3.jpg" />
                </div>
                <div class="grid-item-content">
                    <div class="tenhang">Son Hera Sensual Powder Matte</div>
                    <div class="sub-info">
                        <div class="chuabiet sub-info-flex_item">
                            <span><i class="fas fa-star"></i></span>
                            <span id="">72 </span><span class="format"">Đánh giá</span>
                        </div>
                        <div class=" daban sub-info-flex_item">
                                <span><i class="fas fa-shopping-bag"></i></span>
                                <span id="">7k1 </span><span class="format"">Đã bán</span>
                        </div>
                    </div>
                    <div class=" tien">
                                    <div class="tien-icon">
                                        <i class="fas fa-money-bill"></i>
                                    </div>
                                    <div class="tien-giatien">
                                        <div class="tien-giamoi">200.000 VNĐ<span class="discountvalue">-20%</span>
                                        </div>
                                        <div class="tien-giacu">199.000</div>
                                    </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item">
                    <div class="grid-item-image">
                        <img src="./imgs/product3.jpg" />
                    </div>
                    <div class="grid-item-content">
                        <div class="tenhang">Son Hera Sensual Powder Matte</div>
                        <div class="sub-info">
                            <div class="chuabiet sub-info-flex_item">
                                <span><i class="fas fa-star"></i></span>
                                <span id="">72 </span><span class="format">Đánh giá</span>
                            </div>
                            <div class=" daban sub-info-flex_item">
                                <span><i class="fas fa-shopping-bag"></i></span>
                                <span id="">7k1 </span><span class="format">Đã bán</span>
                            </div>
                        </div>
                        <div class=" tien">
                            <div class="tien-icon">
                                <i class="fas fa-money-bill"></i>
                            </div>
                            <div class="tien-giatien">
                                <div class="tien-giamoi">200.000 VNĐ<span class="discountvalue">-20%</span></div>
                                <div class="tien-giacu">199.000</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item-image">
                        <img src="./imgs/product3.jpg" />
                    </div>
                    <div class="grid-item-content">
                        <div class="tenhang">Son Hera Sensual Powder Matte</div>
                        <div class="sub-info">
                            <div class="chuabiet sub-info-flex_item">
                                <span><i class="fas fa-star"></i></span>
                                <span id="">72 </span><span class="format"">Đánh giá</span>
                        </div>
                        <div class=" daban sub-info-flex_item">
                                    <span><i class="fas fa-shopping-bag"></i></span>
                                    <span id="">7k1 </span><span class="format"">Đã bán</span>
                        </div>
                    </div>
                    <div class=" tien">
                                        <div class="tien-icon">
                                            <i class="fas fa-money-bill"></i>
                                        </div>
                                        <div class="tien-giatien">
                                            <div class="tien-giamoi">200.000 VNĐ</div>
                                            <div class="tien-giacu">199.000</div>
                                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="grid-item-image">
                            <img src="./imgs/product3.jpg" />
                        </div>
                        <div class="grid-item-content">
                            <div class="tenhang">Son Hera Sensual Powder Matte</div>
                            <div class="sub-info">
                                <div class="chuabiet sub-info-flex_item">
                                    <span><i class="fas fa-star"></i></span>
                                    <span id="">72 </span><span class="format"">Đánh giá</span>
                        </div>
                        <div class=" daban sub-info-flex_item">
                                        <span><i class="fas fa-shopping-bag"></i></span>
                                        <span id="">7k1 </span><span class="format"">Đã bán</span>
                        </div>
                    </div>
                    <div class=" tien">
                                            <div class="tien-icon">
                                                <i class="fas fa-money-bill"></i>
                                            </div>
                                            <div class="tien-giatien">
                                                <div class="tien-giamoi">200.000 VNĐ</div>
                                                <div class="tien-giacu">199.000</div>
                                            </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!-- FOOTER -->
            {{>footer}}